.task {
  display: flex;
  flex-direction: row;
  margin: 10px 0 10px 0;
  justify-content: center;
  align-items: center;
}

.task__checkbox {
  width: 24px;
  height: 24px;
  margin: 0 20px 0 0;
}

.task__edit-button,
.task__delete-button {
  width: 24px;
  height: 24px;
  background-size: cover;
  background-repeat: no-repeat;
  border: 0;
  margin-right: 5px;
}

.task__edit-button {
  background-image: url(../../../public/image/button-edit.png);
}

.task__delete-button {
  background-image: url(../../../public/image/button-delete.png);
}

.task__task-text {
  width: 400px;
  height: auto;
  word-wrap: break-word;
  overflow: hidden;
}

input:checked + p {
  text-decoration: line-through;
}
