.form__input {
  width: 319px;
  height: 40px;
  margin-right: 40px;
  border: 1px solid #00000033;
  border-radius: 3px;
}

.form__button {
  background-color: #069a4a;
  width: 124px;
  height: 45px;
  border-radius: 4px;
  font-size: 18px;
  opacity: 0.7;
}